# Dependencies
/node_modules
/vendor

# System Files
.DS_Store
Thumbs.db
.vscode/
.idea/

# Application Data
*.log
/app/Database/*.sqlite
/temp_debug/
*.bak

# Build Artifacts & Deployments
/deploy_package.tar.gz
/mivo_backup_*.mivo
/mivo-*.zip

# Secrets and Environment
.env

# Build Scripts & Artifacts
build_release.ps1
deploy.ps1
.github/release_notes.md

# User Uploads
/public/uploads/*
!/public/uploads/.gitignore

# Plugins
/plugins/*
!/plugins/.gitkeep