# Dependencies
/node_modules
/vendor

# System Files
.DS_Store
Thumbs.db
.vscode/
.idea/

# Application Data
*.log
/app/Database/*.sqlite
/temp_debug/
*.bak

# Build Artifacts & Deployments
/deploy_package.tar.gz
/mivo_backup_*.mivo

# Secrets and Environment
.env

# VitePress
docs/.vitepress/dist
docs/.vitepress/cache

# Build Scripts & Artifacts
build_release.ps1
*.zip