version: '3.8'

services:
  mivo:
    image: dyzulk/mivo:${VERSION}
    container_name: ${CONTAINER_NAME}
    restart: unless-stopped
    ports:
      - "${HOST_IP}:${APP_PORT}:80"
    volumes:
      # Database & Sessions
      - ${APP_PATH}/mivo_data:/var/www/html/app/Database
      
      # Custom Logos
      - ${APP_PATH}/mivo_logos:/var/www/html/public/assets/img/logos
      
      # Environment file (Optional - mapped from host)
      # - ${APP_PATH}/.env:/var/www/html/.env
      
    environment:
      - APP_ENV=${APP_ENV}
      - APP_DEBUG=${APP_DEBUG}
      - TZ=${TZ}
      
    deploy:
      resources:
        limits:
          cpus: '${CPUS}'
          memory: ${MEMORY_LIMIT}

    networks:
      - mivo_net

networks:
  mivo_net:
    driver: bridge
